<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siddiqei.dailytaskbeta">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyTaskBeta">
        <activity android:name=".Alarm.AlarmActivity"></activity>
        <activity android:name=".ui.EventActivity" />
        <activity android:name=".ui.NoticeActivity" />
        <activity android:name=".ui.ShowEbook" />
        <activity android:name=".ui.EbookActivity" />
        <activity android:name=".ui.AddNotesActivity" />
        <activity android:name=".ui.NotesActivity" />
        <activity
            android:name=".ui.RegistrationActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.SignInActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".ui.AddCourseActivity" />
        <activity android:name=".ui.CourseDetailsActivity" />
        <activity
            android:name=".ui.CourseListActivity"
            android:label="@string/title_activity_course_list"
            android:theme="@style/Theme.DailyTaskBeta.NoActionBar" />
        <activity android:name=".ui.ClassListActivity" />
        <activity
            android:name=".ui.FlashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>